<h2>Login</h2>

<%= form_tag session_path do %>
    <div class="input-field">
      <%= label_tag 'login', 'Login' %>
      <%= text_field_tag 'login' %>
    </div>
    <div class="input-field">
      <%= label_tag 'password', 'Password' %>
      <%= password_field_tag 'password' %>
    </div>
    <div>
      <%= submit_tag 'Login', class: 'btn pink' %>
      <%= link_to 'Back', root_path, class: 'btn-flat ' %>
    </div>
<% end %>
