<p id="notice"><%= notice %></p>

<h2>Forum</h2>

<%= link_to 'Create Thread', new_topic_path, class: 'btn' %>
<table class="bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Author</th>
      <th>Unread Posts</th>
      <th>Total Posts</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <%
      topics_sorted = @topics.sort_by(&:date).reverse
      topics_sorted.each do |topic|
    %>
      <tr>
        <td><%= topic.date %></td>
        <td><%= topic.title %></td>
        <td><%= topic.user.firstname %> <%= topic.user.surname %></td>
        <td><span class="new badge">4</span></td>
        <td>0</td>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
