<p id="notice"><%= notice %></p>

<h2>Forum</h2>
<%= link_to 'Back', topics_path(page: @current_page), class: "btn-flat"%>
<% @topic.post_wrappers.each do |pw| %>
  <div class="row">
    <div class="col s<%= 12 - pw.offset %> offset-s<%= pw.offset %>">
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            <div class="row">
              <div class="col s7"><%= pw.post.title %></div>
              <div class="col s5">
                <% if pw.post.user %>
                  <h6 class="right-align grey-text"><%= pw.post.user.firstname%> <%= pw.post.user.surname%> - <%= pw.post.date.strftime("%d/%m/%y %H:%M:%S") %></h6>
                <% else %>
                  <h6 class="right-align grey-text">anonymous - <%= pw.post.date.strftime("%d/%m/%y %H:%M:%S") %></h6>
                <% end %>
              </div>
            </div>
          </span>
          <p><%= pw.post.body %></p>
        </div>
        <div class="card-action">
          <%= link_to 'Reply', new_post_path(:topic_id => @topic.id, :post_id => pw.post.id) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% @topic.mark_read_posts(current_user.id) %>
