<p id="notice"><%= notice %></p>

<h2>Forum</h2>
<%= link_to 'Back', topics_path, class: "btn-flat"%>
<% @topic.post_wrappers.each do |pw| %>
  <div class="row">
    <div class="col s<%= 12 - pw.offset %> offset-s<%= pw.offset %>">
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            <div class="row">
              <div class="col s9"><%= pw.post.title %></div>
              <div class="col s3"><h6 class="right-align grey-text"><%= pw.post.date.strftime("%d/%m/%y %H:%M:%S") %></h6></div>
            </div>
          </span>
          <p><%= pw.post.body %></p>
        </div>
        <div class="card-action">
          <%= link_to 'Reply', new_post_path(:topic_id => @topic.id, :post_id => pw.post.id) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
