<!DOCTYPE html>
<html>
<head>
  <title>Csa</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body id="<%= params[:controller].parameterize %>_controller">
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <%= render_navigation %>
        <%= render :partial => 'sessions/login' %>
      </div>
    </div>
  </nav>
  <main>
    <div class="container">
      <% flash.each do |key, value| %>
        <span class="flash_<%= key %>">
          <span class="flash_message"><%= value %></span>
        </span>
      <% end %>
      <div class="row">
        <div class="col s12">
          <%= yield %>
        </div>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <%= render :partial => 'notifications/notifications' if logged_in? %>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2017 Aberystwyth University
      </div>
    </div>
  </footer>
  <% if false %>
  <div id="footer">
    <div class="col s12">
      <%= render :partial => 'notifications/notifications' if logged_in? %>
    </div>
  </div>
  <% end %>
</body>
</html>
